/* General */
$scale: 16px; /* main font size */
$borderRadius: 12px; /* border radius of layout element e.g. card, sidebar */
$transitionDuration: 0.2s; /* transition duration of layout elements e.g. sidebar, overlay menus */

// Colors
$orange: #f04d37;
$blue: #2be2f0;
$main: #ffffec;
$black: #242222;

// Fonts
$font-header: 'Finlandica', sans-serif;
$font-main: 'PT Sans', sans-serif;
